{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Index page</title>
</head>
<body>
    <div class="container">
     <a href="/article/add">Add Article</a>      
        <h1>Index page</h1>
        {% for article in articles %}
        <h2>{{ article.title }}</h2>
        <h2>{{ article.text }}</h2>
        <p>
            <a href="/article/?pk={{ article.pk }}">Подробнее...</a>
        </p>
        {% endfor %}
    </div>
</body>
</html>